PORT=3004
DB_HOST=mysql
DB_PORT=3306
DB_NAME=dp_paiement
DB_USER=root
DB_PASSWORD=root
JWT_SECRET=your_jwt_secret
CHARGILY_API_KEY=your_chargily_api_key
CHARGILY_SECRET_KEY=your_chargily_secret_key
CHARGILY_BASE_URL=https://pay.chargily.net/api/v2
APP_BASE_URL=http://localhost
KAFKA_BROKERS=kafka:9092
MS_UTILISATEUR_URL=http://ms-utilisateur:3001