PORT=8000
DB_URL=mysql+aiomysql://root:root@mysql:3306/dp_optimisation
KAFKA_BROKERS=kafka:9092
GRAPHHOPPER_URL=https://graphhopper.com/api/1
GRAPHHOPPER_API_KEY=your_graphhopper_api_key
# Livreur assignment weights
WEIGHT_DISTANCE=0.6
WEIGHT_RATING=0.4