@import "tailwindcss";

@theme {
  --color-primary: #19bf5f;
  --color-backgroundGray: #f3f3f3;
  --color-light: #fbfbfb;
  --font-nunito: "Nunito Sans", sans-serif;
  --text-normal: 13px;
}
/* index.css or App.css */
html,
body {
  height: 100%;
}
